body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #ADBFFF 0%, rgba(254, 255, 181, 0.79) 27.08%, rgba(182, 255, 242, 0.87) 56.25%, #D2F7FF 100%);
    /* background-size: 100% 100%; */
    /* animation: gradient 100s infinite;
    -webkit-animation: gradient 100s infinite;
    -moz-animation: gradient 100s infinite; */
}

.cover {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsba(0, 0%, 100%, 1);
    display: flex;
    pointer-events: none;
}

.cover_text {
    margin: auto;
    font-family: 'Xanh Mono', monospace;
    font-style: italic;
    color: #111858;

}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

#bubbles {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}


#bubbles>img {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    transition: 0.4s ease-out;
}

/* #bubbles>img:hover {
    opacity: 100%;
}

*/
.fadein {
    opacity: 100%;
}

.fadeout {
    opacity: 0%;
}